@model IEnumerable<MyLearning.Entities.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COuntryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COuntryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Updatedata", new { id=item.CountryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CountryId }) |
                    @Html.ActionLink("Delete", "Deletedata", new { id = item.CountryId  })
            </td>
        </tr>
}
    </tbody>
</table>
